<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Entregable Tema 1 MWEB</title>
  </head>
  <body>
    <header>
      <h1>My Bussines Webpage</h1>

      <nav>
        <ul>
          <li><a href="#">Who We are?</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Portafolio</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <h2>Who we are?</h2>

        <article>
          <h3>Lorem ipsum</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </article>

        <article>
          <h3>Lorem ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>

        <article>
          <h3>Lorem ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>

        </section>


        <aside>
          Buy Cheap beer <a href="http://google.com.pe" target="_blank">here</a>
        </aside>

        <hr/>

        <section>
            <h2>Our Services</h2>
            <article>
              <h3>Service 1</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </article>

            <article>
              <h3>Service 2</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </article>

            <article>
              <h3>Service 3</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </article>

            <article>
              <h3>Service 4</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </article>


            <article>
              <h3>Service 5</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </article>

            <article>
              <h3>Service 6</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </article>
        </section>

        <section>
            <h2>Portafolio</h2>
            <h3>There are success projects created by us</h3>

        </section>

        <section>
          <article>
            <h2>Contact</h2>
            <h3>You can find us:</h3>
            <figure>
              <img src="img/pirateMap.jpeg" width="200"/>
            </figure>
            <h4>Head Office</h4>
            <address>
              123456 Blank Stret<br/>
              Phone: <a href="tel:2456134321">2456-134-321</a><br/>
              Email Address: <a href="mailto:info@domain.com">info@domain.com</a>
            </address>

            <address>
              Carrer de Sant Joan de la salle, 42<br/>
              Phone: <a href="tel:932902474">932 90 24 74</a><br/>
              Email Address: <a href="mailto:info@salleurl.edu">info@salleurl.edu</a>
            </address>

          </article>

          <article>
            <h2>Email Us</h2>
            <form action="" method="post">

              <div>
                <label>Name*</label>
                <input type="input" name="name" placeholder="Name" maxlength="200" required />
              </div>

              <div>
                <label>Email*</label>
                <input type="email" name="email" placeholder="Email"  required />
              </div>

              <div>
                <label>Phone</label>
                <input type="phone" name="phone" placeholder="Phone" />
              </div>

              <div>
                <label>Company Name</label>
                <input type="input" name="companyName" placeholder="Company Name" maxlength="200" />
              </div>

              <div>
                <label>Subject*</label>
                <input type="input" name="subject" placeholder="Subject" required />
              </div>

              <div>
                <label>Message*</label>
                <textarea cols="35" rows="5" name="message" required >
                </textarea>
              </div>

              <div>
                <input type="submit" value="Send" />
              </div>

            </form>
          </article>
        </section>
        </main>

        <footer>
            &copy; 2016 - <a href="http://salleurl.com" target="_blank" >LaSalle</a> All Rights Reserved
        </footer>
  </body>
</html>

